/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*.container {
  margin-left: 1.55%;
  margin-right: 0.55%;
}*/
/*.topnav {
    float: right;
    font-family: 'Quicksand', sans-serif;
    margin-top: 1vw;
    margin-right: 8vw;
    position: absolute;
    top: 10px;
    right: 15vw;
}

.topnav div {
    display: inline;
    margin-left: 1.5vw;
}
.topnav div a {
    font-size: 1.5vw;
    text-decoration: none;
    color: #766d5c;
}

/* CSS for dropdown menu button*/

.nav {
  float: right;
  font-family: 'Quicksand', sans-serif;
  margin-top: 1vw;
  margin-right: 11vw;
  font-size: 1.1vw;
  position: absolute;
  top: 10px;
  right: 15vw;
    list-style: none;
    /* Bring the nav above everything else--uncomment if needed.
    position: relative;
    z-index: 5;
    */
}
.nav li {
    float: right;
    margin-right: 10px;
    position: relative;
}
.nav a {
    display: block;
    padding: 5px;
    color: #766d5c;
    text-decoration: none;
}
.nav a:hover {
    color: #4d4535;
}

/*--- DROPDOWN ---*/
.nav ul {
    background-color: #fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background: rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display: none;) */
}
.nav ul li {
    padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float: none;
}
.nav ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.nav li:hover ul { /* Display the dropdown on hover */
    left: -2.5vw; /* Bring back on-screen when needed */
}
.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    color: #4d4535;
}
.nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
}
.nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background-color: #f4dbdc;
}

/* End of Css for dropdown menu*/


body {
    background-color: white;

}
/*#topimg {
  border-right: 2px solid #766d5c;
}*/
.page {
  width: 80%;
  margin-left: 13%;
}
.container img {
  width: 100%;
}
.main {
  width: 100%;
  margin: auto;
}

.main p {
  width: 55%;
  display: inline-block;
  float: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2vw;
  color: #766d5c;
  margin: 8% 5%;
}
#portrait {
  width: 15%;
  display: inline-block;
  float: right;
  margin-right:19%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-left: 2px solid #766d5c;


}
.categories {
  display: inline-block;
  width: 23.8vw;
  margin: 3vw 1vw;
  /*border: solid 3px brown;*/
}

.categories img {
  width: 100%;
}
#border {
  border: 1px solid black;
  width: 29.5%;
}
#iconspace {
  width: 20%;
  display: inline-block;
}
#bottom {
  width: 70%;
  display: inline-block;
  float: left;
  /*border-left: 2px solid #766d5c;*/

}

#insta {
  width: 20%;
  margin-left: 10%

}
#email {
  width: 20%;
  margin-top: 5px;
  margin-left: 10px;

}
#spoonflower {
  width: 25%;
  margin-left: 10px;
  margin-top: 3px;
}
/*
#instag {
  position: absolute;
  width: 3%;
  top: 177vw;
  lefT: 22%;
}
#instak {
  position: absolute;
  width: 3%;
  top: 99vw;
  lefT: 22%;
}


#emailk {
  position: absolute;
  width: 3%;
  top: 99.2vw;
  left: 26%;
}

#emailp {
  position: absolute;
  width: 3%;
  top: 177.2vw;
  left: 26%;
}
*/
.bottom {
  display: inline-block;
}
/*.coverimg {
  background-image: url("../images/coverimg.png");
  width: 100%;

  background-repeat: no-repeat;
}*/

/* ===========CSS for pattern section======*/
#changes {
  height: 100%;
  }

.pattern_section{
  width: 100%;
  display: inline-block;
}
.cover {
    width: 100%;
}
.example {
  width: 30%;
  margin: 1.55%;
  display: inline-block;
}
.example img {
  width: 100%;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
